<form name="containerForm" method="POST" action="/courses/handle-form-action" class="mt-4">
    <div>
      <h3>khoa hoc cua toi</h3>
      <a href="/me/trash/courses">thung rac ({{deletedCount}})</a>

      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            chon tat ca
          </label>
        </div>

        <select class="form-control form-control-sm checkbox-select-all-option" name="action" required>
          <option value="">-- chon hanh dong --</option>
          <option value="delete" >xoa</option>
        </select>

        <button class="btn btn-primary btn-sm btn-check-all-submit disabled"> thuc hien </button>
      </div>

    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">STT</th>
                <th scope="col">Ten khoa hoc</th>
                <th scope="col">trinh do</th>
                <th scope="col" colspan="2">thoi gian tao</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">sua</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-courses-modal">xoa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                  ban chua dang khoa hoc nao.
                  <span> nhan vao day de</span>
                  <a href="/courses/create">dang khoa hoc</a>

              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- confirm delete courses --}}

<div id="delete-courses-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">xoa khoa hoc ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>ban co chac muon xoa khong ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">delete</button>
        <button  type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- delete hidden form --}}

<form method="POST" name="delete-course-form"></form>

{{!-- script --}}

<script>
  document.addEventListener('DOMContentLoaded', function() {

    var btnDelete = document.getElementById('btn-delete-course')
    var courseId;
    var deleteForm = document.forms['delete-course-form']
    var checkboxAll = $('#checkbox-all')
    var courseItemCheckbox = $('input[name="courseIds[]"]')
    var containerForm = document.forms['containerForm']
    var checkAllBtnSubmit = $('.btn-check-all-submit')

    // when dialog confirm clicked
    $('#delete-courses-modal').on('show.bs.modal', function(event) {
      var button = $(event.relatedTarget),
      courseId = button.data('id');
      console.log(courseId)

      btnDelete.onclick = function() {
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE',
        deleteForm.submit()
      }
    });

    // checkboxAll click
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked')

      if (isCheckedAll) {
        courseItemCheckbox.prop('checked', true)
      } else {
        courseItemCheckbox.prop('checked', false)
      }
      renderCheckAllSubmitBtn()
    })


    // Course item checkbox change
    courseItemCheckbox.change(function() {
      var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })

    //checkAll submit btn clicked
    checkAllBtnSubmit.on('submit', function (e) {
      var isSubmitTable = !$(this).hasClass('disabled')
      if (!isSubmitTable) {
        e.preventDefault()
      }
    })
    // re-render checkAll submit btn

    function renderCheckAllSubmitBtn() {
      var checkedCount = $('input[name="courseIds[]"]:checked').length
      if (checkedCount > 0 ) {
        checkAllBtnSubmit.removeClass('disabled')
      }else {
        checkAllBtnSubmit.addClass('disabled')
      }
    }
  })

</script>